<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated newrrde -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="tools.descartes.librede.rrde.optimization.presentation.OptimizationModelWizardID"
            name="%_UI_OptimizationModelWizard_label"
            class="tools.descartes.librede.rrde.optimization.presentation.OptimizationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OptimizationModelFile.gif">
         <description>%_UI_OptimizationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated rrde -->
      <editor
            id="tools.descartes.librede.rrde.optimization.presentation.OptimizationEditorID"
            name="%_UI_OptimizationEditor_label"
            icon="icons/full/obj16/OptimizationModelFile.gif"
            extensions="optimization"
            class="tools.descartes.librede.rrde.optimization.presentation.OptimizationEditor"
            contributorClass="tools.descartes.librede.rrde.optimization.presentation.OptimizationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated newrrde -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="tools.descartes.librede.rrde.recommendation.presentation.RecommendationModelWizardID"
            name="%_UI_RecommendationModelWizard_label"
            class="tools.descartes.librede.rrde.recommendation.presentation.RecommendationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RecommendationModelFile.gif">
         <description>%_UI_RecommendationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated newrrde -->
      <editor
            id="tools.descartes.librede.rrde.recommendation.presentation.RecommendationEditorID"
            name="%_UI_RecommendationEditor_label"
            icon="icons/full/obj16/RecommendationModelFile.gif"
            extensions="recommendation"
            class="tools.descartes.librede.rrde.recommendation.presentation.RecommendationEditor"
            contributorClass="tools.descartes.librede.rrde.recommendation.presentation.RecommendationActionBarContributor">
      </editor>
   </extension>

</plugin>
